.prfile_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.M {
  width: 47.11px;
  height: 47.11px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2952CC;
}

.meet {
  background-color: #F0F9FD;
}