* {
    font-family: "Rubik", sans-serif;
}

.title {
    font-size: 42px;
    font-weight: 700;
    color: #073937;
}


#header {
    background-color: #fff;
}

input,
select {
    height: 48px !important;
}

.price {
    right: 40px;
    top: 55%;
}

.add_property_btn {
    border-radius: 8px;
    background-color: #073937;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
}
