
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: large;

}
.f_26 {
    font-size: 26px;
}
.carousel_img{
    height: 600px !important;
    object-fit: cover !important;
}
.custom-control-input:checked~.custom-control-label::before{
    background-color: #073937  !important;
    border-color: #073937  !important;
}
