body {
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Rubik', sans-serif !important;
    font-size: large;

}
input,select{
    height: 48px !important;
}
a, a:hover, a:active, a:visited {
    color: #073937 !important;
    text-decoration: none !important;
}
.navbar-nav{
    margin-left: auto !important;
}
.submit_btn{
    background-color: #073937 !important;
    color: white !important;
    padding: .75rem 2.5rem !important;
}
.beige_back{
    background-color: #fffbf2  !important;
}
header{
    position: fixed;
    width: 100%;
}
@media (min-width: 500px){
   .container{
    width: 500px !important;
   }
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 100px !important;
}
html,body{
    height: 100%;
}
form{
    width: 100%;

}
