.main_color,
#header .material-symbols-outlined {
    color: #073937 !important;
}
.clickable:hover {
    text-decoration: unset !important;
}
#header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
}
body {
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Rubik', sans-serif !important;
    font-size: large;

}

.f12 {
    font-size: 12px !important;
}

.f16 {
    font-size: 16px !important;
}
.f20{
    font-size: 20px !important;
}
.f24 {
    font-size: 24px !important;
}

.f18 {
    font-size: 18px !important;
}

.f30 {
    font-size: 30px !important;
}

.f48 {
    font-size: 48px !important;
}

.f62 {
    font-size: 62px !important;
}

.lh30 {
    line-height: 30px !important;
}

/* .f72 {
    font-size: 72px !important;
} */
.nav-link,
.dropdown {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

#header .nav-link:hover {
    background-color: #f3eadc !important;
    border-radius: 1000px !important;
}

.main_back {
    background-color: #fffbf2 !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.navbar-nav .dropdown-menu {
    border-radius: 15px !important;
    background: #fcf5eb !important;
}

.dropdown-item {
    padding: .75rem 1.5rem !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #073937 !important;
    color: #ffffff !important;
}

.dropdown-menu {
    left: -100px !important;
    top: 40px !important;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    height: calc(min(100vw, 1920px)* 169 / 360);
    max-height: max(500px, 100vh - 120px);
}

.carousel-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 251, 246, .8) 23.33%, rgba(255, 251, 246, 0) 59.99%);
}

.carousel-indicators .active {
    background-color: #073937 !important;
    opacity: 1 !important;
}

.carousel-indicators li {
    width: 7px !important;
    height: 7px !important;
    border-radius: 50% !important;
    border: 2px solid #073937 !important;
    background-color: transparent !important;
    opacity: 1 !important;
}

.carousel_text,
.video_text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .f72 {
        font-size: 72px !important;
    }
}

.width_inherit {
    width: inherit !important;
}

.br70 {
    border-radius: 0 70px 0 0 !important;
}

.br_88_t_r {
    border-radius: 88px 0 0 0 !important;
}

.br_88_b_l {
    border-radius: 0 0 0 88px !important;
}

.property_img {
    height: calc(min(100vw, 1920px)* 169 / 600);
    object-fit: cover;
    border-radius: 0 0 70px;
}

[data-toggle="tab"] {
    text-decoration: unset !important;
}

li .active {
    font-weight: bold !important;
}

.beige_back {
    background-color: #eaece2 !important;
}

.video_container {
    position: relative;
    height: calc(min(100vw, 1920px) / 2.35);
    max-height: max(500px, 100vh - 57px);
    overflow: hidden;
}

.video_container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(89.6deg, #073937 16.07%, rgba(7, 57, 55, .2) 67.11%)
}

.owl-carousel .owl-stage,
.owl-carousel .owl-item {
    display: flex;

}
.yellow_back {
    background-color: #e6b022 !important;
}

.green_back {
    background-color: #156d51 !important;
}

.bleu_back {
    background-color: #0f4865 !important;
}
.light_green_back {
    background-color: #eaece2 !important;
}
.light_yellow_back {
    background-color: #ffeebf !important;
}
.main_background_color {
    background-color: #073937 !important;
}
.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #073937 !important;
    margin: 10px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border: 50%;
    color:white;
    transition: all 0.5s ease;
  }

