<div class="container d-flex justify-content-center align-items-center h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-6 p-lg-5 p-2 d-flex justify-content-lg-center flex-column">
      <div class="d-flex align-items-center mb-3">
        <span class="deepBlue f32 poppinsSemiBold mr-lg-4 mr-2">Welcome To Healthy 24</span>
        <img class="icons" src="../../../assets/images/icons/image 304.svg" alt="">
      </div>
      <div>
        <span class="greyColor f14 poppinsRegular">Enter your account to use healthy 24 service</span>
      </div>
      <form class="mt-lg-5 mt-3" [formGroup]="loginForm">
        <div class="form-group">
          <label for="email" class="poppinsSemiBold f14 deepBlue">Email</label>
          <input type="email" class="form-control f14" id="email" formControlName="email"
            [ngClass]="{'is-invalid': submit &&f['email'].errors}" placeholder="Enter Your email here">
        </div>
        <div class="form-group">
          <label for="password" class="poppinsSemiBold f14 deepBlue">Password</label>
          <input type="password" class="form-control f14" id="password"
            [ngClass]="{'is-invalid': submit &&f['password'].errors}" formControlName="password"
            placeholder="Enter Your password here">
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="form-group form-check align-items-center d-flex">
            <input type="checkbox" class="form-check-input" id="checkbox">
            <label class="form-check-label poppinsRegular f12" for="checkbox">Remember me </label>
          </div>
          <div>
            <a [routerLink]="['/forget-password']" routerLinkActive="router-link-active"
              class="deepBlue poppinsMeduim f12 ">Forget password</a>
          </div>
        </div>
        <div class="mt-5">
          <button class="custom_btn signUp btn text-white blueBack poppinsRegular w-100 f14 br_8" (click)="login()">Sign
            In</button>
          <div class="my-4 text-center">
            <span class="poppinsRegular f14 blackColor">Or</span>
          </div>
          <button class="custom_btn signUp btn black border_1 poppinsRegular w-100 f14 br_8 mb-3">Sign Up with
            google</button>
          <button class="custom_btn signUp btn black border_1 poppinsRegular w-100 f14 br_8 mb-4">Sign Up with
            facebook</button>
          <div class="text-center f12">
            <span class="black poppinsRegular"> You don’thave account ? </span><a [routerLink]="['/sign-up']"
              class="black poppinsSemiBold"> Sign up</a>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-6 img_back d-none d-lg-block">
      <app-login-sign-up></app-login-sign-up>
    </div>

  </div>
</div>