<div class="p-5">
  <div class="d-flex align-items-center">
    <span class="poppinsMeduim f32 text-white mr-3">We give the best experience</span>
    <img src="../../../assets/images/icons/image 26.svg" alt="">
  </div>
  <div class="pt-4">
    <p class="poppinsRegular text-white f20">Dedicated virtual consulting platform for docotrs and patients to help them
      consult across vatious channels</p>
  </div>
  <div class="position-relative pt-3">
    <img src="../../../assets/images/imgs/image 1.png" alt="" class="position-absolute img-1">
    <img src="../../../assets/images/imgs/image 1.png" alt="" class="position-absolute img-2">
    <!-- <img src="../../../assets/images/imgs/image 1.png" alt=""> -->

  </div>
</div>
