<div class="p-3 p-md-4 p-lg-5">
  <div>
    <span class="deepBlue f24 poppinsSemiBold">Appointments</span>
  </div>
  <div class="d-flex justify-content-end">
    <div class="btn-group" role="group">
      <button type="button" class="btn sendBtn"><img src="../../../../assets/images/icons/Calendar2.svg"
          alt=""></button>
      <button type="button" class="btn border_1"><img src="../../../../assets/images/icons/Filter.svg" alt=""></button>
    </div>
  </div>
  <div class="pt-4">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>