<div class="p-3 p-md-4 p-lg-5">
  <div class="d-flex justify-content-between">
    <span class="deepBlue f24 poppinsSemiBold">Properties Owners List</span>
    <button class="custom_btn btn text-white blueBackground poppinsRegular f14 br_8 px-5" (click)="addClient()">Add Owner</button>
  </div>
  <div class="tableContainer mt-4 p-3" *ngIf="users">
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr class="customTr">
            <th>id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email </th>
            <th>Created at </th>
            <th>Phone number </th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">

            <td class="poppinsRegular f14 black">{{user.id}}</td>
            <td class="poppinsRegular f14 black">{{user.name}}</td>
            <td class="poppinsRegular f14 black">{{user.username}}</td>
            <td class="poppinsRegular f14 black">{{user.email}}</td>
            <td class="poppinsRegular f14 black">{{user.created_at}}</td>
            <td class="poppinsRegular f14 black">{{user.phone_number}}</td>
            <td>
              <button class="btn p-0 mr-2" (click)="editClient(user)">
                <img src="../../../../assets/images/icons/Hide.svg" alt="">
              </button>
              <button class="btn p-0" (click)="showModal(user)">
                <img src="../../../../assets/images/icons/Delete.svg" alt="">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="users?.total" class="d-flex justify-content-end mt-4">
    <pagination [directionLinks]="true" [maxSize]=5 [totalItems]="users.total" [itemsPerPage]="users.limit"
      (pageChanged)="paginate($event)" [(ngModel)]="currentPage" class="pagination poppinsRegular"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left poppinsRegular">Delete Owner</h4>
        <button type="button" class="close pull-right btn-close" aria-label="Close" (click)="childModal.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="poppinsRegular">Are you sure you want to delete this client?</p>
      </div>
      <div class="modal-footer poppinsRegular">
        <button type="button" class="btn btn-danger" (click)="deleteClient()"> Yes</button>
        <button class="btn" (click)="childModal.hide()">No</button>
      </div>
    </div>
  </div>
</div>
<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left poppinsRegular">{{edit?"Edit ":"Add"}} Owner</h4>
        <button type="button" class="close pull-right btn-close" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mt-lg-5 mt-3" [formGroup]="userForm">
          <div class="form-group">
            <label for="email" class="poppinsSemiBold f14 deepBlue">Email</label>
            <input type="email" class="form-control f14 poppinsRegular black" id="email" formControlName="email"
              [ngClass]="{'is-invalid': submit &&f['email'].errors}" placeholder="Enter Your email here">
          </div>
          <div class="form-group">
            <label for="name" class="poppinsSemiBold f14 deepBlue">Name</label>
            <input type="text" class="form-control f14 poppinsRegular black" id="name" formControlName="name"
              [ngClass]="{'is-invalid': submit &&f['name'].errors}" placeholder="Enter Your name here">
          </div>
          <div class="form-group">
            <label for="username" class="poppinsSemiBold f14 deepBlue">Username</label>
            <input type="text" class="form-control f14 poppinsRegular black" id="username" formControlName="username"
              [ngClass]="{'is-invalid': submit &&f['username'].errors}" placeholder="Enter Your username here">
          </div>
          <div class="form-group">
            <label for="phone_number" class="poppinsSemiBold f14 deepBlue">Phone Number</label>
            <input type="text" class="form-control f14 poppinsRegular black" id="phone_number" formControlName="phone_number"
              [ngClass]="{'is-invalid': submit &&f['phone_number'].errors}" placeholder="Enter Your phone number here">
          </div>
          <div class="form-group" *ngIf="!edit">
            <label for="password" class="poppinsSemiBold f14 deepBlue">Password</label>
            <input type="password" class="form-control f14 poppinsRegular black" id="password"
              [ngClass]="{'is-invalid': submit &&f['password'].errors}" formControlName="password"
              placeholder="Enter Your password here">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button class="poppinsSemiBold btn blueBack text-white px-4" (click)="manageClient()">Save</button>
        <button class="poppinsSemiBold btn  black px-4" (click)="editModal.hide()">Cancel</button>

      </div>
    </div>
  </div>
</div>
