<div class="container d-flex justify-content-center align-items-center h-100">
  <div class="row no-gutters h-100 w-100">
    <div class="col-lg-6 p-lg-5 p-2 d-flex justify-content-lg-center flex-column">
      <div class="d-flex align-items-center mb-3">
        <span class="deepBlue f32 poppinsSemiBold mr-lg-4 mr-2">Forget Password</span>
        <img src="../../../assets/images/icons/image 924.svg" alt="" class="icons">
      </div>
      <div>
        <span class="greyColor f14 poppinsRegular">Enter your email to recover password </span>
      </div>
      <form class="mt-lg-5 mt-3">
        <div class="form-group">
          <label for="email" class="poppinsSemiBold f14 deepBlue">Email</label>
          <input type="email" class="form-control f14" id="email" placeholder="Enter Your email here">
        </div>
        <button [routerLink]="['/verification-code']" routerLinkActive="router-link-active"
          class="signUp btn text-white blueBack poppinsRegular w-100 f14 br_8 custom_btn">Sign Up</button>
      </form>
    </div>
    <div class="col-lg-6 img_back d-none d-lg-block">
      <app-login-sign-up></app-login-sign-up>
    </div>

  </div>
</div>
